$color_accent-green: #3CC8AE;
$color_error_red: #FF002E;
$color_primary_dark_blue: #132739;
$color_typo_black: #152739;
$color_primary_black: #0F1B25;
$color_icon_gray: #C5C7CD;
$color_background_gray: #F6F9FC;
$color_nav_menu_hover: #F6F9FC;
$color_white: #FFFFFF;